/* #region: box-pointer */
.box-pointer {
    position: absolute; 
    z-index: 1;
    display: inline-block;

    white-space: nowrap;
    opacity: 1;

    pointer-events:none;
}
.box-pointer p {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;

    padding: 5px 15px;
    border-radius: 2px;

    background-color: #ffffff;
}

.box-pointer .box-pointer-arrow {
    content: "";
    position: absolute;
    width: 0;
    height: 0;

    box-sizing: border-box;
    border: 6px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    
    transform-origin: 0 0;
    
    box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.05);
}

.box-pointer .overflow-controll{
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.box-pointer-top .box-pointer-arrow {
    transform: rotate(-45deg);
    bottom: 0px;
}
.box-pointer-top .overflow-controll {
    top: 10px;
}

.box-pointer-bottom .box-pointer-arrow {
    transform: rotate(135deg);
    top: 10px;
}
.box-pointer-bottom .overflow-controll {
    top: -10px;
}

.box-pointer-left .box-pointer-arrow {
    transform: rotate(225deg);
    right: 0;
}
.box-pointer-left .overflow-controll {
    left: 10px;
}

.box-pointer-right .box-pointer-arrow {
    transform: rotate(45deg);
    left: 10px;
}
.box-pointer-right .overflow-controll {
    left: -10px;
}
/* #endregion: box-pointer */